.ContenedorPrincipalCartas {
    display: grid;
    width: 50%;
    grid-template-columns: 15% 15% 15%;
}

/*fgd*/

/* Estilos para el contenedor principal */
.Contenedor-principal-categorias {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    /* Distribuye el espacio entre las tarjetas de manera uniforme */
    flex-wrap: wrap;
    /* Permite que las tarjetas se ajusten en filas según el ancho del contenedor */
    gap: 20px;
    /* Espacio entre tarjetas */
}

/* Estilos básicos para las tarjetas */
.card-categoria {
    background-color: #fff;
    /* Fondo blanco para las tarjetas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave para darle profundidad */
    border-radius: 15px;
    /* Bordes redondeados */
    overflow: hidden;
    /* Asegura que todo dentro de la tarjeta respete los bordes redondeados */
    transform: scale(1);
    /* Escala inicial */
    transition: transform 0.3s ease;
    /* Transición suave para la animación */
}

/* Animación al pasar el mouse */
.card-categoria:hover {
    transform: scale(1.05);
    /* Aumenta ligeramente el tamaño */
}

/* Estilos para el título dentro de las tarjetas */
.card-categoria h1 {
    text-align: center;
    padding: 10px 0;
   
    /* Fondo ligeramente gris para el título */
    margin: 0;
    /* Elimina los márgenes por defecto */
}

/* Estilos para la imagen */
.card-categoria img {
    width: 100%;
    /* Asegura que la imagen cubra el ancho de la tarjeta */
    height: 250px;
    /* Mantiene la proporción de la imagen */
    transition: transform 0.3s ease;
    /* Transición suave para la animación de la imagen */
}

.card-categoria:hover img {
    transform: scale(1.1);
    /* Aumenta ligeramente el tamaño de la imagen al pasar el mouse */
}