/* Estilos generales */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

h1,
h2,
h3 {
    font-weight: bold;
}

a {
    text-decoration: none;
   
}

/* Estilos del header */

header {
    background-color: #ca2121;
    padding: 20px;
}

header img {
    width: 200px;
}


/* Estilos del hero */

.hero {
    background-color: #E6CDB9;
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.hero a {
    background-color: #A58F82;
    color: #000000;
    padding: 10px 20px;
    border-radius: 15px;
    /* Agregar transición suave para el cambio de color de fondo */
    transition: background-color 0.5s ease;
    border-color: #EFE2D9;
}

/* Definir los estados de la animación */
@keyframes cambioColor {
    from { background-color: #A58F82; }
    to { background-color: #BFA974; }
}

.hero a:hover {
    /* Aplicar la animación al pasar el ratón sobre el botón */
    animation-name: cambioColor;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; /* Mantener el estado final de la animación */
}


/* Estilos de la sección de nuevos arribos */

.arrivals {
    padding: 50px 20px;
    background-color: #EFE2D9;
}

.arrivals h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #E6CDB9;
}

.producto {
    width: 30.30%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #EFE2D9;
    text-align: center;
    border-radius: 5px;
}

.producto img {
    width: 100%;
    margin-bottom: 10px;
}

.producto h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.producto p {
    margin-bottom: 10px;
}

.producto a {
    background-color: #A58F82;
    
    
    color: #fff
}
.venta-estacional{
    background-color: #EFE2D9;
        text-align: center;
        padding: 50px 20px;
}