/* Estilos generales */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #000;
}

/* Estilos del header */

header {
    background-color: #fff;
    padding: 20px;
}

header img {
    width: 200px;
}

/* Estilos del hero */

.hero {
    background-color: #f5f5f5;
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.hero a {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Estilos de la sección de nuevos arribos */

.arrivals {
    padding: 50px 20px;
}

.arrivals h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}

.producto {
    width: 30.30%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.producto img {
    width: 100%;
    margin-bottom: 10px;
}

.producto h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.producto p {
    margin-bottom: 10px;
}

.producto a {
    background-color: #000000;
    
    
    color: #fff
}
.venta-estacional{
    background-color: #f5f5f5;
        text-align: center;
        padding: 50px 20px;
}