/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 0;
    padding-top: 60px;
    /* Ajusta este valor según la altura de tu navbar */
}
a {
    text-decoration: none;
    color: #000;
}

/* Estilos del navbar */
nav {
    background-color: #E6CDB9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    /* Cambiado de relative a fixed */
    top: 0;
    /* Asegura que el navbar se quede en la parte superior */
    width: 100%;
    z-index: 100;
}


.logo {
    width: 200px;
}

.logo img {
    width: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease, padding 0.3s ease;
}

nav ul li a:active, .iconos img:active {
    transform: scale(0.9); /* Hace que el elemento parezca presionado */
}


nav ul li a:hover {
    color: #C47B5D; /* Cambia esto al color deseado */
    padding-bottom: 5px;
    border-bottom: 2px solid #C47B5D; /* Cambia esto al color deseado */
}

.iconos {
    display: flex;
}

.iconos img {
    width: 20px;
    margin-left: 20px;
    transition: transform 0.3s ease;
}

.iconos img:hover {
    transform: scale(1.2); /* Hace que el ícono sea un poco más grande */
}


/* Estilos para responsive design */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        width: 100%;
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .iconos {
        justify-content: center;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

nav {
    animation: slideDown 0.5s ease forwards;
}
