.contenedorDeCartasProducto{
    margin-top: 10px;
    padding: 10px;
    margin-left: 10px;
    width: 100%;
    background-color: #E6CDB9;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 15px;
  transition: ease-in-out 0.3s; 
}
.contenedorDeCartasProducto:hover{
    box-shadow:7px 7px 7px 7px #fce6d9;
    transform: translate(0px,-5px);
}
.Imagen{
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.ImagenTamaño{
    width: 95%;
    height: 250px;
    border-radius: 10px;
}
.Texto{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}
