.ContenedorDetalleComponente{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
}
.DetalleImagen{
   position: relative;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.ImagenDetalle{
    border-radius: 10px;
    width:100%;
    height: 100%; 
}
.MasDetalle{
    position: absolute;
    bottom: 0;
   z-index: 10;
    border-radius: 10px;
    background-color: white;
    right: 0;

}
.MasDetalle:hover{
    box-shadow: 0px 0px 10px rgb(93, 93, 180);
    background-color: rgb(54, 54, 105);
    color: white;
    cursor: pointer;
}
.NombreDetalle{
    margin: 5px;
    text-align: center;
    font-weight: 200;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.precioDescripcionDetalle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   padding: 10px;
}
.PrecioDetalle{
    font-size: 15px;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center; 
    width: 30%;
}
.descripcionDetalle{
    font-size: 15px;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center; 
    text-align: center;
    width: 70%;
}
.ContenedorTallas{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.ContainerTallas{
    width: 60%;
  display: flex;
  justify-content: center;
    padding: 10px;
}
.textoTallas{
    text-align: center;
    width: 40%;
    font-weight: bold;
}
.Talla{
    background-color: rgb(32, 32, 81);
    color: white;
    /* border: 1px solid black;*/
    border-radius: 5px; 
    border: none;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}
.Talla:hover {
    background-color: #ddd;
    color: black; 
}


